body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;

  font-weight: 900;
  font-size: 32px;
  display: flex;
  align-items: center;
  padding-left: 16px;

  /* not in the solution */
  flex: 1 1 0;
  max-height: 72px;
  min-height: 72px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;

  display: flex;
  justify-content: center;
  align-items: center;

  /* not in the solution */
  flex: 1 1 0;
  max-height: 72px;
  min-height: 52px;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;

  min-width: 300px;   /* not in the solution */

  /* flex-shrink: 0; */
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

  width: 200px;   /* Sol: 300px */
  padding: 48px; /* Sol: 16px */

  margin: 5px; /* not in the solution */
}

/* new */
.body { 
  display: flex;
  flex: 1 1 0;

  /* not in the solution */
  align-items: stretch;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  /* not in the solution */
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
} 

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.container {
  padding: 40px; /* Sol: 48px */
  display: flex;
  flex-wrap: wrap;
  /* gap: 32px; */
}